Source: autossh
Section: net
Priority: optional
Maintainer: Filippo Giunchedi <filippo@debian.org>
Uploaders: martin f. krafft <madduck@debian.org>
Build-Depends: debhelper (>= 5), cdbs
Homepage: http://www.harding.motd.ca/autossh/
VCS-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/autossh/trunk
VCS-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/autossh/trunk
Standards-Version: 3.8.0

Package: autossh
Architecture: any
Depends: ${shlibs:Depends}, openssh-client | ssh-client
Description: Automatically restart SSH sessions and tunnels
 autossh is a program to start an instance of ssh and monitor it, restarting it
 as necessary should it die or stop passing traffic. The idea is from rstunnel
 (Reliable SSH Tunnel), but implemented in C. Connection monitoring is done
 using a loop of port forwardings. It backs off on the rate of connection
 attempts when experiencing rapid failures such as connection refused.
