Source: autossh
Section: net
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Uploaders: Franziska Lichtblau <rhalina@old-forest.org>
Build-Depends: debhelper (>= 11~),
               openssh-client
Build-Conflicts: autoconf2.13
Homepage: https://www.harding.motd.ca/autossh/
Vcs-Git: https://salsa.debian.org/debian/autossh.git
Vcs-Browser: https://salsa.debian.org/debian/autossh
Standards-Version: 4.3.0
Rules-Requires-Root: no

Package: autossh
Architecture: any
Depends: openssh-client | ssh-client,
         ${misc:Depends},
         ${shlibs:Depends}
Enhances: openssh-client,
          ssh-client
Description: Automatically restart SSH sessions and tunnels
 autossh is a program to start an instance of ssh and monitor it, restarting it
 as necessary should it die or stop passing traffic. The idea is from rstunnel
 (Reliable SSH Tunnel), but implemented in C. Connection monitoring is done
 using a loop of port forwardings. It backs off on the rate of connection
 attempts when experiencing rapid failures such as connection refused.
